/*!
 * lusaifeng 732500779@qq.com style.scss v1.0.0
 */

* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

body {
  background: #e6e6e6;
}

img {
  max-width: 100%;
  height: auto;
}

.or {
  margin-top: 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d6d6d6;
  margin-bottom: 30px;
}

.login {
  background: #237f81;
  height: 100vh;
  overflow: hidden;
  .login-img {
    width: 100%;
    background-color: #f8f8f8;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-attachment: fixed;
    background-image: url(../static/img/login-bg.jpg);
    opacity: 0.2;
  }
  .login-form {
    max-width: 470px;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 13px;
    color: #888da8;
    font-weight: 300;
    position: relative;
    z-index: 2;
    &-head {
      background-color: #444444;
      padding: 20px;
      h1 {
        float: right;
        margin-top: 15px;
        color: #fff;
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
      }
    }
    &-body {
      padding: 30px;
    }
  }
}

header {
  background-color: #444444;
  padding: 20px 30px;
  .nav {
    a {
      color: #dfdfdf;
      text-decoration: none;
      &.router-link-exact-active {
        color: #fab318;
      }
    }
  }

  .dropdown.account .btn{
    margin:0;
    padding:0;
  }
  .notifications,
  .account {
    &-author {
      width: 35px;
      height: 35px;
      border-radius: 35px !important;
      margin-right: 10px;
    }
    
    .btn {
      background: none;
      border: none;
      position: relative;
      cursor: pointer;
      .badge {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 100% !important;
        width: 18px;
        height: 18px;
        text-align: center;
        padding: 0;
        line-height: 18px;
      }
    }
    &-name {
      margin-right: 1rem;
    }
    .dropdown-menu {
      padding:0;
      margin:27px 0 0 0;
      .notification-info {
        border-bottom: 1px #eee solid;
        
        &:last-child {
          border: none;
        }
        .color-1{
          color:#ff5e3a
        }
        .color-2{
          color:#66c0c2
        }
        .color-3{
          color:#fab318
        }
  
        a{
          color: #888da8;
          text-decoration: none;
          font-size: 14px;
          display: block;
          padding: 10px 20px; 
          &:hover{
            background-color: #f8f8f8;
          }
          span{
            color:#66c0c2
          }
          .fa{
            margin-right: 10px;
          }
          h5.time{
            margin-top: 10px;
            font-size: 12px;
            color: #888da8;
            
          }
        }
      }
      
    }
  }
}

.main {
  padding: 30px;
  h1.new-video-title {
    padding-bottom: 10px;
    font-weight: 700;
    color: #444444;
    font-size: 14px;
    margin: 0px;
    .fa {
      font-size: 18px;
      color: #ff5e3a;
      margin-right: 10px;
    }
  }
  .video-item {
    margin-bottom: 15px;
    margin-top: 15px;
    &:hover {
      box-shadow: 0 0 5px #aaa;
    }
    a {
      text-decoration: none;
      color: #333;
    }
    .thumb {
      position: relative;
      small.time {
        font-size: 12px;
        font-weight: 900;
        color: #ffffff;
        background-color: #76c1c7;
        display: block;
        padding: 5px;
        width: 60px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        text-align: center;
        line-height: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }
    .video-info {
      background-color: #fff;
      padding: 25px;
    }
    .title {
      font-size: 13px;
      font-weight: 900;
      text-transform: uppercase;
      color: #333333;
      text-decoration: none;
      display: block;
    }
    .channel-name {
      display: block;
      font-size: 12px;
      font-weight: 500;
      color: #a7a7a7;
      margin-top: 4px;
      margin-bottom: 4px;
      line-height: 19px;
    }
    .channel-name .fa {
      color: #fab318;
    }
    span {
      color: #a7a7a7;
      font-size: 10px;
      font-weight: 500;
      padding-right: 10px;
      margin: 0px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
    span .fa {
      padding-right: 5px;
    }
  }
  #loading-more {
    display: block;
    font-size: 12px;
    font-weight: 900;
    color: #ff5e3a;
    margin-bottom: 30px;
    margin-top: 15px;
    text-align: center;
    span {
      margin-top: -8px;
      display: inline-block;
    }
    .fa {
      color: #66c0c2;
      font-size: 20px;
      margin-right: 10px;
    }
  }
  .related-video {
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
  }
  .related-video-item {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    &:after {
      content: " ";
      display: block;
      clear: both;
      width: 100%;
    }
    .thumb {
      float: left;
      height: 85px;
      width: 120px;
      margin-right: 10px;
      position: relative;
      overflow: hidden;
      img {
        max-width: 150%;
      }
      small.time {
        font-size: 12px;
        font-weight: 900;
        color: #ffffff;
        background-color: #76c1c7;
        display: block;
        padding: 5px;
        width: 60px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        text-align: center;
        line-height: 10px;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }

    .title {
      font-size: 12px;
      font-weight: 900;
      text-transform: uppercase;
      color: #333333;
      line-height: 19px;
      text-decoration: none;
      display: block;
    }
  }
  .watch {
    background-color: #FFF;
    padding: 30px;
    margin-bottom: 30px;
    .video-title {
      font-size: 20px;
      margin-bottom: 30px;
    }
    #comments {
      h3.post-box-title {
        color: #ff5e3a;
        font-size: 14px;
        font-weight: 900;
        border-bottom-width: 2.5px;
        border-bottom-style: solid;
        border-bottom-color: #fab318;
        margin-top: 35px;
        margin-bottom: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        span {
          color: #66c1c3;
        }
      }
      ul.comments-list {
        margin: 0px;
        padding: 0px;
        list-style-image: none;
        list-style-type: none;
        li {
          border-bottom: 1px solid #e6e8e8;
          margin-bottom: 30px;
          padding-bottom: 30px;
          a.reply {
            font-size: 12px;
            font-weight: 900;
            text-transform: uppercase;
            color: #66c0c2;
            text-decoration: none;
          }
          .post_author {
            margin-bottom: 25px;
            a.author-name {
              font-size: 14px;
              font-weight: 900;
              color: #6f6f6f;
              display: block;
              text-transform: uppercase;
            }
            time {
              font-size: 12px;
              color: #bbb8b9;
            }
            &:after {
              content: " ";
              display: block;
              clear: both;
              width: 100%;
            }
            .img_in {
              float: left;
              height: 45px;
              width: 45px;
              margin-right: 15px;
              -webkit-border-radius: 45px !important;
              -moz-border-radius: 45px !important;
              border-radius: 45px !important;
              overflow: hidden;
            }
          }
        }
      }
      
      ul.children {
        margin-left: 30px;
        margin-top: 30px;
      }
      .form-control {
        border-radius: 0px;
        margin-top: 10px;
      }
      .btn-dm {
        border-radius: 0px;
        color: #fff;
        text-decoration: none;
        background-color: #66c0c2;
        margin-top: 20px;
      }
    }
  }
}

.footer {
  text-align: center;
  color: #aaa;
  font-size: 13px;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

.about {
  background: #fff;
  padding: 30px;
}